p {
    font-weight: 100px;
    font-style: italic;
    line-height: 1.7;
    letter-spacing: 2;
    word-spacing: 2;
    text-indent: 50px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font: 15px Arial, sans-serif;
}

h3 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: blueviolet;
    text-decoration-style: dashed;
    font-style: oblique;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(168, 0, 117);
    color: #32a84a;
   
}

div {
    margin: 350px;
    border: 1px solid green;
    text-align: center;
    margin-top: 50px;
    padding: 20px 14px 30px 20px;
}


